pandas==2.2.2
scipy==1.14.0
numpy==2.0.1
astropy==6.1.2
wget==3.2
tqdm==4.66.4
colorlog==6.8.2
emcee==3.1.6
pybtex==0.24.0
flex-format==0.2.18
plotly==5.23.0
matplotlib==3.9.1
# Development Requirements
pre-commit==3.8.0
sphinx==8.0.2
pytest==8.3.2
requests==2.32.3
