matplotlib==3.1.3
wget==3.2
pandas==1.0.1
scipy==1.4.1
numpy==1.18.1
astropy==4.0
requests==2.23.0
matplotlib==3.1.3
Ipython==7.13.0
ipywidgets==7.5.1
jupyter==1.0.0
plotly==4.5.2
pytest==5.3.5
pyarrow==0.16.0
tqdm==4.43.0
colorlog==4.1.0
emcee==3.0.2
pybtex==0.22.2
